@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import './variables.scss';


body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none !important;
    color: $black;
    padding-bottom: 9px;
    &:hover {
        transition-duration: 0.5s;
        color: $green;
    }
}

.content {
    margin-top: 120px;
}

.btn-green {
    background-color: $green;
    color: $white;
    border: none;
    &:hover {
        opacity: 0.9;
        background-color: $green;
    }
    &:focus {
        opacity: 0.9;
        background-color: $green;
    }
}

/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
}